<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    backupGlobals="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    colors="true"
    forceCoversAnnotation="true"
    verbose="true"
>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">test</directory>
        </exclude>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <php>
        <ini name="xdebug.max_nesting_level" value="9999"/>
    </php>
    <testsuites>
        <testsuite name="QuickCheck Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
