<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"

    backupGlobals="false"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    bootstrap="vendor/autoload.php"
    checkForUnintentionallyCoveredCode="true"
    colors="true"
    forceCoversAnnotation="true"
    verbose="true"
>
    <php>
        <ini name="xdebug.max_nesting_level" value="9999"/>
    </php>

    <testsuites>
        <testsuite name="QuickCheck Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">test</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" showUncoveredFiles="true" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
